.lateral-catalog{
    margin: 2% 3%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    border-right: 5px solid #1330203c;
    max-width: 200px;
}

.lateral-catalog > .image-control{
   display: flex;
   align-items: center;
   gap: 29px;
   width: 90%;
}

.marked-category{
    width: 65%;
    background-color: var(--brand-color-2);
    color: var(--grey-color-2);
    padding: 10px;
    border-radius: 40px;
    .icon{
        background-color: #fff;
        border-radius: 40px;
    }
}

.active-mark::before {
    content: "";
    position: absolute;
    top: 31.5%;
    left: 24.1%;
    width: 3px;
    height: 7%;
    background-color: var(--brand-color-4);
}