@import '../css/style.css';

.lateral-catalog { 
    display: flex; 
    flex-direction: column;
    align-items: center; 
    overflow-x: auto; 
    overflow-y: hidden; 
    max-width: 100%; 
    padding: 10px; 
} 

.buttons-container { 
    display: flex; 
    align-items: center;
    justify-content: center;
}

.catalog-button { 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding: 8px 16px; 
    font-size: 12px; 
    min-width: 100px; 
    height: auto; 
    border: none;
    background-color: transparent; 
    gap: 10px; 
    color: #333; 
    cursor: pointer; 
    transition: all 0.3s ease; 
    white-space: nowrap; 
} 

.catalog-button:hover { 
    background-color: var(--brand-color-1); 
    border-radius: 20px; 
    transform: scale(1.05); 
    color: var(--grey-color-1); 
} 

.catalog-button:active { 
    transform: scale(0.95); 
} 

.catalog-button > .icon { 
    height: 20px; 
    width: auto; 
    transition: transform 0.2s ease; 
} 

.catalog-button:hover > .icon {
    background-color: var(--grey-color-1);
    border-radius: 20px; 
    padding: 2px; 
}

#scrolling{
    margin-top: 10px;
    appearance: none;
    height: 4px;
    background: var(--grey-color-2);
    width: 80vw;
}

#scrolling::-webkit-slider-thumb {
    appearance: none;
    width: 40px;
    height: 5px;
    background: var(--brand-color-1); /* Cor do botão deslizante */
    cursor: pointer;
    border-radius: 0; /* Deixar o botão com formato quadrado */
    transition: transform 0.2s ease;
}

.highlight {
    border: 2px solid var(--brand-color-1);
    border-radius: 20px;
    background-color: #f0f0f0;
    transform: scale(1.1);
    transition: transform 0.3s ease;
}