@import '../css/style.css';

.lateral-catalog, .scrooling {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 6px;
}

.image-control {
    display: flex;
    align-items: center;
    font-size: 10px;
    gap: 5px;
}

.image-control > img {
    height: 20px;
}

.active-mark {
    background-color: var(--brand-color-1);
    padding: 5px;
    border-radius: 20px;
    color: var(--grey-color-2);
    gap: 5px;
}

.active-mark > .icon {
    background-color: var(--grey-color-1);
    border-radius: 20px;
}

.scrooling {
    max-height: 300px; /* Define a altura máxima para o conteúdo rolável */
    overflow-y: auto; /* Permite a rolagem vertical */
    scroll-behavior: smooth; /* Adiciona a rolagem suave */
    display: flex;
    flex-direction: column; /* Organiza os itens verticalmente */
}