@import '../css/style.css';

.header-menu-section{
    display: flex;
}

.title{
    color: var(--brand-color-1);
    font-size: 1em;
}

.subtitle{
   font-family: var(--font-subtitle);
   width: 70vw;
}